{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="mod" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block title %} Cadastro {% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p>{{ message }}</p> <br><br>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form id="auth-formulario" method="POST" action="{{ url_for('auth.cadastro') }}">
        <div class="input-group">
            <label>Nome</label><br>
            <input type="text" name="nome" id="nome" placeholder="Digite seu primeiro nome" required>
            <div id="nome-error" class="error-message"></div>
        </div>

        <div class="input-group">
            <label>Email</label><br>
            <input type="text" name="email" id="email" placeholder="Digite seu email" required>
            <div id="email-error" class="error-message"></div>
        </div>

        <div class="input-group">
            <label>Senha</label><br>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha" required>
            <div id="senha-error" class="error-message"></div>
        </div>
        
        <button type="submit" class="btn" id="botao">Enviar</button>
    </form>
    <div class="aviso" id="aviso">
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}