{% extends "base.html" %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block title %} Cadastro {% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p>{{ message }}</p> <br><br>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="ContLogin"; style="display: flex; align-items: center; justify-content: center;">
        <form id="auth-form" method="POST" action="{{ url_for('auth.register') }}">
            <input type="hidden" name="next" value ="{{ request.args.get('next', '') }}">
            <div class="input-group">
                <label>Nome</label><br>
                <input type="text" name="name" id="name" placeholder="Digite seu primeiro nome" required>
                <div id="name-error" class="error-message"></div>
            </div>

            <div class="input-group">
                <label>Email</label><br>
                <input type="text" name="email" id="email" placeholder="Digite seu email" required>
                <div id="email-error" class="error-message"></div>
            </div>

            <div class="input-group">
                <label>Senha</label><br>
                <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
                <div id="password-error" class="error-message"></div>
            </div>
            
            <button type="submit" class="btn" id="button">Enviar</button>
        </form>
    </div>
    <div class="warning" id="warning">
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}