header {
    background-color: #fa7921;
    width: 100%;
    box-sizing: border-box;
}
#logo img {
    height: 155px;   
    object-fit: contain;
}
#logo{
  display: flex;
  gap: 10px;
  justify-content: center;
}

#ContHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elementosHeader ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.elementosHeader ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    transition: transform 0.5s ease-in-out ;
}

.login-link:hover, .register-link:hover{
  text-decoration: underline;
}

#a123:hover{
  text-decoration: underline;
  cursor: pointer;
}
.menu-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-user a {
    text-decoration: none;
    color: black;
}

@media (max-width: 700px) {
  #ContHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .elementosHeader ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .login {
    margin-top: 10px;
  }
}

main {
  flex: 1;
}

footer {
  background-color: #fa7921;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto; 
  position: relative;
}

main {
    flex: 1; 
}

footer {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    background-color: #fa7921;
    margin-top: auto;
}
