#ContHeader{
    display: flex;
    justify-content: space-between;
}

header{
    background-color:#fa7921 ;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
  #ContHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .elementosHeader ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .login {
    margin-top: 10px;
  }
}

main {
  flex: 1;
}

footer {
  background-color: #fa7921;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto; 
  position: relative;
  width: 100%;

}

html, body {
    height: 100%;
    margin: 0;
}



main {
    flex: 1; 
}

footer .right-links {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-align: right;
  gap: 18px;
  color: black; 
  font-size: 18px;
  cursor: pointer;
}

main{
    min-height: calc(100vh-100px);
    box-sizing: border-box;
}