#ContHeader{
    display: flex;
    justify-content: space-between;
}

header{
    background-color:#fa7921 ;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
  #ContHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .elementosHeader ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .login {
    margin-top: 10px;
  }
}

main {
  flex: 1; /* faz o conteúdo ocupar o espaço restante */
}

footer {
  background-color: #fa7921;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto; /* empurra o footer pro fim */
}

main{
    min-height: calc(100vh-100px);
    box-sizing: border-box;
}