.carros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    padding: 20px;
}

.carro-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    padding: 20px;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.carro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.18);
}

.vehicle-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.carro-imagem-preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.carro-imagem-preco img {
    width: 140px;
    border-radius: 10px;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
}

.carro-info {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    font-size: 14px;
}

.carro-info li {
    margin-bottom: 6px;
    color: #555;
}

.btn-alugar {
    display: block;
    text-align: center;
    background: #114043;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    margin-top: auto;
}

.btn-alugar:hover {
    background: #0e3336;
}


@media (max-width: 1100px) {
    .carros {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .carros {
        grid-template-columns: repeat(1, 1fr);
    }
}

#filters {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}

#filters input {
    padding: 10px 12px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 220px;
    outline: none;
    transition: 0.2s;
}

#filters input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

#filters label {
    font-weight: bold;
    margin-right: 5px;
}

.filterBox {
    display: flex;
    flex-direction: column;
}



@media (max-width: 600px) {
    #filters {
        flex-direction: column;
    }

    #filters input {
        width: 100%;
    }
}