/* Estilos gerais */
body {
    font-family: Overpass;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AllControll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.ContainerControll {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%; 
    text-align: center;
}

.ContainerControll a {
    text-decoration: none;
}

.ContainerControll a div {
    background-color: #fa7921;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ContainerControll a div:hover {
    background-color: #f88030;
    transform: translateY(-5px); 
}

@media (max-width: 768px) {
    .ContainerControll {
        width: 100%;
        padding: 20px;
    }
}
