body {
    background-color: #f4f6fc;
    height: 100%;
    margin: 0;
    padding-inline-start: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Overpass;
}

#Forms {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label, .error-message {
    display: block;
    color: #393939;
}

.error-message {
    font-size: 14px;
    margin-bottom: 20px;
}
.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn {
    background-color: #114043;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.btn:hover {
    background-color: #124649;
}
.links {
    margin-top: 15px;
    text-align: center;
}
.links a {
    color: #114043;
    text-decoration: none;
    font-size: 14px;
}
.links a:hover {
    text-decoration: underline;
}

.warning {
    margin-top: 30px;
    text-align: center;
}

#logo{
    display: flex;
    gap: 10px;
    padding: 10px;
}