#login, #auth-form {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

#ContHeader{
    display: flex;
    justify-content: space-between;
}

header{
    background-color:#fa7921 ;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
}


.elementosHeader ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.elementosHeader li{
    cursor: pointer;
    display: flex;
    list-style: none;
}
#msg{
    display: flex;
    text-align: center;
    justify-content: center;
}

.login a{
    color: black;
    text-decoration: none;
}

li{
    padding: 10px;
}

#email, #password, #name {
    border-radius: 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.menu-conta {
      position: absolute;
      top: 60px;
      right: 30px;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      border-radius: 10px;
      width: 220px;
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      z-index: 10;
}
