body {
    background-color: #f4f6fc;
    height: 100%;
    margin: 0;
    padding-inline-start: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Overpass;
}

#login {
    background-color: #fff;
    margin-top: 40px;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    width: 320px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email,
#password,
#name {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px 5px;
    font-size: 15px;
    outline: none;
    transition: 0.2s ease;
}

#email:focus,
#password:focus,
#name:focus {
    border-bottom-color: #114043;
}

.input-group label {
    font-weight: bold;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #114043;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: #124649;
}

.links {
    text-align: center;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    color: #114043;
}

.links a:hover {
    text-decoration: underline;
}

#msg {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.elementosHeader ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
}

.elementosHeader li {
    cursor: pointer;
    list-style: none;
    padding: 10px;
}

.menu-conta {
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 220px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 10;
}
