.dev-container {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
}

.dev-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px #00000023;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 20px;
    align-self: flex-start;
}

.card:hover{
    transform: scale(1.05);
}


.dev-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.dev-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease, opacity 0.8s ease;
    opacity: 0;
}

.card.open .dev-info {
    max-height: 1600px; 
    opacity: 1;
}



