body {
    margin: 0;
    padding: 0;
    background: #f2f5f7;        
    font-family: Overpass;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 85%;
    margin: 30px auto;
}

.car-info {
    display: flex;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    gap: 25px;
}

.car-left {
    display: flex;
    align-items: center;
    width: 30%;
}

.car-img {
    
    width: 100%;
    height: 80%;
}

.car-middle {
    width: 45%;
}

.car-summary {
    width: 30%;
    background: #f4f6fc;
    border-radius: 16px;
    padding: 20px;
}

.car-summary h3 {
    text-align: center;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}

.summary-line.total {
    font-weight: bold;
}

.resume-btn {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 12px;
    background: #114043;
    color: white;
    cursor: pointer;
}

.resume-btn:hover {
    background: #0c2d2f;
}

/* ADICIONAIS */
.extras-box {
    margin-top: 40px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.extra-item {
    display: flex;
    justify-content: space-between;
    background: #f7f7f9;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.extra-left h3 {
    margin-bottom: 5px;
}

.extra-right {
    text-align: right;
}

.price {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

/* CONTADOR */
.counter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 6px 0;
}

.counter button {
    background: #ddd;
    width: 26px;
    height: 26px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.send-extra-btn, .remove-extra {
    background: #114043;
    color: white;
    padding: 6px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.send-extra-btn:hover {
    background: #0c2d2f;
}

.remove-extra {
    color:black;
    background:#f7f7f9;
    border: #114043 solid 1px;
}

.remove-extra:hover {
    background:#ddd;
    border: 2px;
}