 #auth-form{
    position: relative;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: left;
}

#form-title{
   text-align: center;
   margin-top: 2px;
   font-family: "Overpass";
}

.input-title{
    color: black;
    font-family: "Overpass";
    margin-bottom: 20px;
}

.elementosHeader ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.elementosHeader li{
    cursor: pointer;
    display: flex;
    list-style: none;
}
#msg{
    display: flex;
    text-align: center;
    justify-content: center;
}

.login a{
    color: black;
    text-decoration: none;
}

li{
    padding: 10px;
}

.input-group label{
    font-size: 17px;
}

.input-group input {
    border-radius: 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 130%;
    font-size: 19px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px 150px; 
    width: 100%;
}

.input-group label {
    font-weight: bold;
}


.menu-conta {
      position: absolute;
      top: 60px;
      right: 30px;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      border-radius: 10px;
      width: 220px;
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      z-index: 10;
}

.register-btn button{ 
    width: 200px;
    position: absolute;
    right: 16px;
    bottom: 16px;    
    cursor: pointer;
    text-decoration: none;
}

.register-btn a{
    color: #114043;
    text-decoration: none;
    font-size: 16px;
}

.register-btn a:hover {
    text-decoration: underline;
}

#register-warning{
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
    color: red;
    font-size: 20px;
    border-radius: 10px;
}
