.user{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #fa7921;
}
.boxes{
    display: flex;
    justify-content: space-around;
}

.box {
    
    padding: 15px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: black;
    text-align: center;
    line-height: 100px;  /* centraliza o texto verticalmente */
    background-color: #ff974f;
    flex: 1;
}

.ContUser{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.PersonalData{
    
}