.user{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #fa7921;
}

.box {
    padding: 15px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: black;
    text-align: center;
    line-height: 100px;  /* centraliza o texto verticalmente */
    background-color: #ff974f;
    flex: 1;
}