{% extends "base.html" %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/promote.js') }}"></script>
{% endblock %}

{% block title %} Dashboard - {{ user_role }} {% endblock %}

{% block content %}

    {% if user_role != 'Cliente' %}
        <a href="{{ url_for('main.register_vehicles') }}">Clique para cadastrar veículos</a>
    {% endif %}

    <h1>Lista de clientes:</h1>

    {% for client in clients %}
        <p>{{ client.name }} - {% if client.is_active %} Ativo {% else %} Inativo {% endif %}</p> <button type="button" class="promote" data-id="{{ client.id }}" data-role="client"> Promover </button>
    {% endfor %}

    <br>

    {% if workers is not none %}
        <h1>Lista de funcionários</h1>
        {% for worker in workers %}
            <p>{{ worker.name }} - {% if worker.is_active %} Ativo {% else %} Inativo {% endif %}</p> <button type="button" class="promote" data-id="{{ worker.id }}" data-role="worker"> Promover </button>
        {% endfor %}
    {% endif %}

    <br>

    {% if managers is not none %}
        <h1>Lista de gerentes</h1>
        {% for manager in managers %}
            <p>{{ manager.name }} - {% if manager.is_active %} Ativo {% else %} Inativo {% endif %}</p>
        {% endfor %}
    {% endif %}

    <br>

    <a href="{{ url_for('main.index') }}">Clique para voltar à nossa página principal</a></p>

{% endblock %}