{% extends "base.html" %}



{% block title %} Home page {% endblock %}

{% block content %}
    <div class="cadastro">
        {% if current_user.is_authenticated %}
            <h1>Bem vindo ao site, {{ current_user.name }}!</h1>
        {% endif %}

        {% if current_user.is_authenticated %}
            <form method="GET" action="{{ url_for('auth.logout') }}" id="Forms">
                <button type="submit">Logout</button>
            </form>
            <form method="GET" action="{{ url_for('auth.register_update') }}" id="Forms">
                <button type="submit">Atualizar dados cadastrais</button>
            </form>
        {% else %}
            <p>Faça login e venha conhecer os nossos serviços!</p>
            <form method="GET" action="{{ url_for('auth.register') }}" id="Forms">
                <button type="submit">Sign in</button>
            </form>
            <form method="GET" action="{{ url_for('auth.login') }}" id="Forms">
                <button type="submit">Login</button>
            </form>
        {% endif %}
            <form method="GET" action="{{ url_for('main.dashboard') }}" id="Forms">
                <button type="submit">Clique para testar sua permissão!</a></button>
            </form>
        </div>    
{% endblock %}