{% extends "base.html" %}

{% block title %} Home page {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Bem vindo ao site, {{ current_user.name }}!</h1>
    {% endif %}

    {% if current_user.is_authenticated %}
        <form method="GET" action="{{ url_for('auth.logout') }}">
            <button type="submit">Logout</button>
        </form>
        <form method="GET" action="{{ url_for('auth.register_update') }}">
            <button type="submit">Atualizar dados cadastrais</button>
        </form>
    {% else %}
        <p>Faça login e venha conhecer os nossos serviços!</p>
        <form method="GET" action="{{ url_for('auth.register') }}">
            <button type="submit">Sign in</button>
        </form>
        <form method="GET" action="{{ url_for('auth.login') }}">
            <button type="submit">Login</button>
        </form>
    {% endif %}
        <form method="GET" action="{{ url_for('main.dashboard') }}">
            <button type="submit">Clique para testar sua permissão!</a></button>
        </form>

    {% for vehicle in vehicles %}
        <div>
            <p>{{ vehicle.model.brand.name }} {{ vehicle.model.name }} {{ vehicle.engine.displacement }} {{ vehicle.version.name }} {{ vehicle.year }}</p>
        </div>
    {% endfor %}


{% endblock %}