{% extends "base.html" %}

{% block title %} Contato {% endblock %}

{% block content %}

    <div class="dev-container">
    <h1 class="title">Quem Somos?</h1>

    <div class="dev-box">
        <div class="card" onclick="togglecard(this)">
            <img src="{{ url_for('static', filename='images/raphael.jpeg')}}" alt="" class="dev-photo">
            <h3>Raphael Vicente</h3>
            <h4>Desenvolvedor Back-end principal/Líder de Projeto</h4>
            <div class="dev-info">
                <p>Raphael Vicente de Oliveira é um garoto de 15 anos, aluno da rede pública, que, desde criança, sempre se destacou pela sua criatividade aguçada, sede por conhecimento e desejo de inovar e transformar o mundo. Embora muitas vezes tenha se sentido desconexo com o seu arredor, Raphael nunca hesitou em tentar coisas novas, buscar alcançar o que sempre sonhou e trilhar o seu próprio caminho.</p>
                <p>Nascido em São Paulo - SP e vindo de uma família humilde, Raphael estudou a vida toda em escolas públicas – ‘Nunca pus os pés numa escola particular’. Justamente por isso, Raphael sempre esteve preocupado com seu ensino e formação acadêmica. Durante o período pandêmico, esse medo para com o seu futuro se tornou cada vez mais recorrente. Ele descobriu que não precisava de professor para aprender, e passou a estudar por conta própria. Deste modo, Raphael pôde ensinar a si mesmo os conteúdos curriculares e iniciar o aprendizado de inglês (idioma este que ele se considera quase fluente hoje em dia). </p>
                <p>Mas 2023 foi o ápice de avanços e mudanças para Vicente. Pois foi o ano em que ele mais se dedicou aos estudos e à produção criativa. ‘Dediquei minhas férias de inverno todas para o estudo, posso dizer que foi uma das melhores decisões que eu já tomei na vida’, recorda Raphael, ‘Eu estudava de manhã e de tarde, em média 4 horas por dia, todos os dias’. E foi nesse pique que ele alcançou aprovação no Instituto Federal de São Paulo e Medalha de Bronze na OBMEP (Olimpíada Brasileira de Matemática das Escolas Públicas e Particulares). Mesmo ocupado nessa exaustiva rotina de estudos, Raphael sempre buscou estar ativo em sua comunidade escolar, sendo líder de classe e presidente do Grêmio Estudantil; estando também ativo na área da arte, dedicando-se ao estudo de Teoria Musical e Piano; participando, também, do Slam Interescolar, o qual lhe rendeu gosto pela área da poesia. </p>
                <p>Atualmente, Raphael encontra-se engajado na área de Programação. Encorajado pelos seus colegas de classe Cristiano e Artur, Raphael rapidamente aprendeu a programar em Python e logo pôde assumir o Top 10 de sua universidade na plataforma de exercícios de programação Beecrowd. Suas metas e planos para os próximos anos incluem: adquirir cada vez mais medalhas de Olimpíadas Científicas; aprimorar cada vez mais seus conhecimentos acerca das áreas de Informática, Matemática, Teoria Musical, Poesia e Idiomas; publicar seu primeiro livro de poesia e cursar Ciências da Computação no exterior. </p>
            </div>
        </div>

        <div class="card" onclick="togglecard(this)">
            <img src="{{ url_for('static', filename='images/valter.jpeg') }}" alt="" class="dev-photo">
            <h3>Valter De Sales</h3>
            <h4>Desenvolvedor Front-end principal/Designer UI/UX</h4>
            <div class="dev-info">
                <p>Valter é um jovem talentoso de 15 anos, recentemente aprovado no Instituto Federal de São Paulo (IFSP). Com uma paixão pelo mundo da tecnologia, Valter já domina HTML e possui um bom conhecimento de CSS. Além disso, ele é proficiente no uso de Git e no trabalho com o terminal, habilidades que prometem ajudá-lo a trilhar um caminho de sucesso no mundo da programação e desenvolvimento web. </p>
                <p>Desde cedo, Valter mostrou interesse pela tecnologia e pelo mundo digital. Seu conhecimento em HTML e CSS é fruto de muito estudo e prática, permitindo-lhe criar e estilizar páginas web de maneira eficaz. A proficiência no uso de Git e do terminal destaca-se como uma de suas habilidades mais notáveis, facilitando a gestão e controle de versões de seus projetos.</p> 
                <p>Além de sua dedicação aos estudos e à tecnologia, Valter também é um entusiasta dos esportes. Seu hobby favorito é assistir futebol, onde encontra momentos de lazer e inspiração. Mas seu envolvimento com o mundo digital vai além: Valter já participou de alguns campeonatos de jogos digitais, experiência que lhe proporcionou momentos emocionantes e a oportunidade de desenvolver habilidades estratégicas e de trabalho em equipe. </p>
                <p>Com apenas 15 anos, Valter já demonstra um equilíbrio admirável entre suas responsabilidades acadêmicas e seus interesses pessoais. Sua capacidade de conciliar estudos, projetos e hobbies é um exemplo inspirador de determinação e disciplina. 
                <p>Valter está apenas começando sua jornada, mas já revela um potencial imenso para se destacar em sua carreira e em suas paixões. Com uma curiosidade insaciável e uma vontade incessante de aprender, ele está preparado para enfrentar novos desafios e alcançar grandes realizações. Seu futuro promete ser brilhante, repleto de descobertas e conquistas tanto no campo da tecnologia quanto no universo dos esportes digitais.</p>    
            </div>
        </div>

        <div class="card" onclick="togglecard(this)">
            <img src="{{ url_for('static', filename='images/joao_victor.jpg')}}" alt="" class="dev-photo">
            <h3>João Victor</h3>
            <h4>Desenvolvedor Front-end auxiliar/Designer UI/UX</h4>
            <div class="dev-info">
                <p>Jovem programador com um grande dedicação e carinho pela área sempre buscando aprimorar seus conhecimentos e se tornar uma versão melhor de si mesmo, essa é a sua mentalidade. João atualmente está cursando Técnico em Desenvolvimento de Sistemas Integrado ao Ensino Médio no Instituto Federal de São Paulo (IFSP).01</p>
                <p>Desenvolveu interesse em programação e tecnologia bem novo, o que fez ele querer conhecer cada vez mais sobre, porém ele nunca soube como começar, nunca teve a iniciativa.</p>
                <p>até que em 2023 ele decidiu mudar, cansado dos ensinamentos "porcos" e falta de profissionalismo de sua antiga escola, Ele decidiu que queria mais, ele passou um ano inteiro fazendo cursos de diversas áreas para expandir o seu conhecimento, ganhou mais "consciência" sobre sua vida, ele fez a prova que decidiria o rumo da vida dele.</p> 
                <p>e no fim todo seu esforço valeu a pena, ele conseguiu entrar em uma escola decente, onde o que não falta são pessoas incríveis que o motivam a seguir em frente todos os dias, ele conseguiu estudar sobre o que sempre se interessou, ele ganhou amigos sensacionais e pela primeira vez na vida pensou "É isso que eu quero ser quando crescer".</p>
                <p>Agora mais do que nunca ele percebe que a vida que ele tinha até agora era só o começo, ele ainda tem um grande e duro caminho pela frente, no entanto, agora ele segue de cabeça erguida, mesmo não sendo um dos mais inteligentes, nem tendo muita experiência no assunto, ele está mais motivado do que nunca para continuar aprendendo, melhorando e praticando, se sentindo em paz consigo mesmo.</p>
            </div>
        </div>

        <div class="card" onclick="togglecard(this)">
            <img src="{{ url_for('static', filename='images/joao_pedro.jpeg')}}" alt="" class="dev-photo">
            <h3>João Pedro</h3>
            <h4>Desenvolvedor back-end auxiliar/ Desenvolvedor de Banco de Dados</h4>
            <div class="dev-info ">
                <p>João é um dedicado estudante de 18 anos, cursando Técnico em Desenvolvimento de Sistemas Integrado ao Ensino Médio no Instituto Federal de São Paulo (IFSP). Ele é apaixonado por programação e está sempre buscando aprender mais sobre tecnologia, especialmente nas áreas de lógica de programação, HTML, CSS, e desenvolvimento de sistemas.</p>
                <p>Sua jornada educacional é marcada por um profundo interesse em algoritmos e estrutura de dados, além de uma curiosidade crescente por temas como redes de computadores e manipulação de dados. Atualmente, ele está se aventurando no mundo do Terminal e Git, ferramentas essenciais para qualquer desenvolvedor. </p>
                <p>João é um jovem versátil, com hobbies variados que incluem a escrita criativa. Ele escreveu seu primeiro poema abordando temas como a relação da humanidade com a natureza, desigualdade social, racismo e a falta de justiça, demonstrando seu profundo senso de empatia e consciência social.</p>
                <p>Ele também está interessado em aprender inglês e espanhol, utilizando métodos interativos e divertidos para melhorar suas habilidades linguísticas.</p>
                <p>Com sua dedicação e paixão por aprender, ele está no caminho certo para se tornar um profissional de destaque no campo da tecnologia.</p>
            </div>
        </div>
    </div>
</div>


<script>
function togglecard(card) {
    card.classList.toggle("open"); 
}
</script>


{% endblock %}