{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pay.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/pay.js') }}"></script>
{% endblock %}

{% block title %} Adicionais {% endblock %}

{% block content %} 
<div class="container">

    <div class="car-info" id="car-info">
        <div class="car-left">
            <img src="{{ vehicle.get_img_url() }}" class="car-img">
        </div>

        <div class="car-middle">
            <h2>{{ vehicle.name() }}</h2>

            <div class="icons">
                <span>{{ vehicle.n_people }} Pessoas 🚗</span>
                <span>{{ vehicle.transmission.name }} ⚙️</span>
                {% for feature in vehicle.features %}
                    <span>{{ feature.name }}</span>
                {% endfor %}
            </div>
            <div id="rental-extras-container">
                {% include "rental_extras.html" %}
            </div>
        </div>

        <div class="car-summary" id="car-summary">
            {% include "car-summary.html" %}
        </div>
    </div>

    <div class="extras-box">
        <h2>Adicionais</h2>
        <div id="extras-container">
            {% include "extras.html" %}
        </div>
    </div>

</div>
{% endblock %}