{% extends "base.html" %}

{% from "loading-modal-macros.html" import loading_modal %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/rents.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static',filename='js/openrents.js') }}"></script>
<script src="{{ url_for('static', filename='js/rents.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

{% block title %} Dashboard - {{ user_role }} {% endblock %}

{% block content %}
<div class="TitleLocation">
    <h1 class="page-title">Locações</h1>
</div>
<div class="AllLocations">
    <div class="filter-buttons">
        <a href="{{ url_for('main.pending_rents') }}" class="filter-btn">Locações Pendentes</a>
        <a href="{{ url_for('main.active_rents') }}" class="filter-btn">Locações Ativas</a>
        <a href="{{ url_for('main.late_rents') }}" class="filter-btn">Locações Atrasadas</a>
    </div>

<div class="rent-list">
    {% if rents|length == 0 %}
        <div class="no-rents">
            <p>Não há nenhuma locação disponível.</p>
        </div>
    {% endif %}
    
    {% for rent in rents %}
    <div class="rent-item">
        <div class="rent-summary" data-toggle="rent-{{ rent.id }}">
            <div class="r-left">
                <img src="{{ rent.vehicle.get_img_url() }}" class="r-img">
                <div class="r-info">
                    <h3>Reserva {{ rent.id }}</h3>
                    <p>Ver resumo da reserva</p>
                </div>
            </div>

            <div class="r-arrow">⌄</div>
        </div>

        <div class="rent-details" id="rent-{{ rent.id }}">

            <h4>Cliente</h4>
            <ul>
                <li><strong>Nome:</strong> {{ rent.user.name }}</li>
                <li><strong>CPF:</strong> {{ rent.user.cpf }}</li>
                <li><strong>Email:</strong> {{ rent.user.email }}</li>
            </ul>

            <h4>Veículo</h4>
            <ul>
                <li>{{ rent.vehicle.name() }}</li>
                <li>{{ rent.vehicle.daily_price | currency }}/dia</li>
                <li>{{ rent.vehicle.n_people }} Pessoas 🚗</li>
                <li>{{ rent.vehicle.transmission.name }} ⚙️</li>
                {% for feature in rent.vehicle.features %}
                <li>{{ feature.name }}</li>
                {% endfor %}
            </ul>

            <h4>Valores</h4>
            <ul>
                <li><strong>Total veículo:</strong> {{ rent.vehicle_total | currency }}</li>
                <li><strong>Adicionais:</strong> {{ rent.extras_total | currency }}</li>
                <li><strong>Taxa 12%:</strong> {{ rent.fee_price | currency }}</li>
                <li><strong>Total geral:</strong> {{ rent.total | currency }}</li>
            </ul>

            <h4>Datas</h4>
            <p>{{ rent.pickup.date_br }} → {{ rent.dropoff.date_br }}</p>

            <button class="action-btn {{ btn_class }}" data-rent-id="{{ rent.id }}">
                {{ btn_message }}
            </button>
        </div>

    </div>
    {% endfor %}
</div>

<div class="Acesspages"> 
    <a class="back-link" href="{{ url_for('main.index') }}" style="color: white; text-decoration: none;">Voltar à página principal</a> 
    <a class="top-link" href="{{ url_for('main.dashboard_controll') }}" style="color: white; text-decoration: none;">Voltar para a pagina anterior</a> 
</div>
{{ loading_modal("Registrando a operação...") }}

{% endblock %}