{% extends "base.html" %}

{% from "rent-details-macros.html" import rent_details %}

{% block title %} {{ current_user.name }} {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/rentHistory.js') }}"></script>
{% endblock %}

{% block content %} 
<div class="AllUser">
    <div class="user">
        <a href="{{ url_for('auth.logout') }}">Logout</a> <br>

        <button id="remove-account-btn" data-id="{{ current_user.id }}">Excluir conta</button>><br>
    
        {% if current_user.has_role('manager') or current_user.has_role('worker') %}
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        {% endif %}
        <div class="boxes">
            <div class="box" id="Text-MyData"><a href="{{ url_for('main.UserData', UserData_chosen='1') }}">Meus dados</a></div>
            <div class="box" id="Text-MyReservations"><a href="{{ url_for('main.UserData', UserData_chosen='2') }}">Minhas reservas</a></div>
            <div class="box" id="Text-History"><a href="{{ url_for('main.UserData', UserData_chosen='3') }}">Historico</a></div>
        </div>
        <div class="AllCont">
        <div class="ContUser">
        {% if UserData_chosen == "1" %}
            <div class="Cont">
                <div class="icon"><img src="https://images.icon-icons.com/3106/PNG/512/person_avatar_account_user_icon_191606.png" alt="Person" style="width:70px ;"></div>
                <div class="PersonalData-Text">
                    <h3>Dados Pessoais</h3>
                    <p>Confira e atualize seus dados</p>
                </div>
                <div class=""></div>
            </div>
            <div class="Cont-Details">
                <p>Username: {{ current_user.name }}</p>
                <!--Descriptografar-->
                <p>Senha: {{ current_user.password }}</p>
                <button>Editar Dados</button> 
            </div>  

            <div class="Cont">
                <div class="icon"><img src="https://res.cloudinary.com/dh60ejwrj/image/upload/v1763735942/ClickAndDrive/Adress.png" alt="Adress" width="70px"></div>
                <div class="Adress-Text">
                    <h3>Endereço</h3> 
                    <p>Dados do seu endereço</p>
                </div>
            </div>
            <div class="Cont-Details">
                <p>Cidade: </p>
                <p>Bairro: </p>
                <p>Rua: </p>
                <button>Editar Dados</button> 
            </div> 
        {% elif UserData_chosen == "2" %}
        <!--Precisa ver quantas reservas tem, fazer um for, se tiver 0, nenhuma reserva aparecerá.-->
            
            {% if active_rents|length == 0 %}
                <p class="empty-msg">Você não possui reservas ativas.</p>
            {% endif %}

            {% for active_rent in active_rents %}
                <div class="Cont">
                    <div class="icon"><img src="{{ active_rent.vehicle.get_img_url() }}" alt="Car" width="70px"></div>
                    <div class="PersonalData-Text">
                        <h3>Reserva {{ loop.index }} - ID: {{ active_rent.id }}</h3>
                        <p>Ver resumo da reserva</p>
                    </div>
                </div>
                <div class="Cont-Details">
                    {{ rent_details(active_rent) }}
                    <button type="button" class="btn-cancel-rent" data-rent-id="{{ active_rent.id }}">Cancelar</button>
                </div>    
            {% endfor %}

        
        {% elif UserData_chosen == "3" %}

            {% if active_rents|length == 0 %}
                <p class="empty-msg">Você não possui reservas canceladas ou concluídas.</p>
            {% endif %}

            {% for finished_rent in finished_rents %}
                <div class="Cont">
                    <div class="icon"><img src="{{ finished_rent.vehicle.get_img_url() }}" alt="Car" width="70px"></div>
                    <div class="PersonalData-Text">
                        <h3>Reserva Passada {{ loop.index }} - ID: {{ finished_rent.id }}</h3>
                        <p>Ver resumo da reserva</p>
                    </div>
                </div>
                <div class="Cont-Details">
                    {{ rent_details(finished_rent) }}
                </div>    
            {% endfor %}
        {% endif %}
        </div>
    </div>        
</div>
{% endblock %}