{% extends "base.html" %}

{% block title %} {{ current_user.name }} {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/rentHistory.js') }}"></script>
{% endblock %}

{% block content %} 
<div class="AllUser">
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <div class="user">
        <div class="boxes">
            <div class="box" id="Text-MyData"><a href="{{ url_for('main.UserData', UserData_chosen='1') }}">Meus dados</a></div>
            <div class="box" id="Text-MyReservations"><a href="{{ url_for('main.UserData', UserData_chosen='2') }}">Minhas reservas</a></div>
            <div class="box" id="Text-History"><a href="{{ url_for('main.UserData', UserData_chosen='3') }}">Historico</a></div>
        </div>
        <div class="AllCont">
        <div class="ContUser">
        {% if UserData_chosen == "1" %}
            <div class="Cont">
                <div class="icon"><img src="https://images.icon-icons.com/3106/PNG/512/person_avatar_account_user_icon_191606.png" alt="Person" style="width:70px ;"></div>
                <div class="PersonalData-Text">
                    <h3>Dados Pessoais</h3>
                    <p>Confira e atualize seus dados</p>
                </div>
                <div class=""></div>
            </div>
            <div class="Cont-Details">
                <p>Username: {{ current_user.name }}</p>
                <!--Descriptografar-->
                <p>Senha: {{ current_user.password }}</p>
                <button>Editar Dados</button> 
            </div>  

            <div class="Cont">
                <div class="icon"><img src="https://res.cloudinary.com/dh60ejwrj/image/upload/v1763735942/ClickAndDrive/Adress.png" alt="Adress" width="70px"></div>
                <div class="Adress-Text">
                    <h3>Endereço</h3> 
                    <p>Dados do seu endereço</p>
                </div>
            </div>
            <div class="Cont-Details">
                <p>Cidade: </p>
                <p>Bairro: </p>
                <p>Rua: </p>
                <button>Editar Dados</button> 
            </div> 
        {% elif UserData_chosen == "2" %}
        <!--Precisa ver quantas reservas tem, fazer um for, se tiver 0, nenhuma reserva aparecerá.-->

            {% for active_rent in active_rents %}
                <div class="Cont">
                    <div class="icon"><img src="" alt="Car" width="70px"></div>
                    <div class="PersonalData-Text">
                        <h3>Reserva {{ loop.index }} - ID: {{ active_rent.id }}</h3>
                        <p>Ver resumo da reserva</p>
                    </div>
                </div>
                <div class="Cont-Details">
                    <p>Carro escolhido: {{ active_rent.vehicle.name() }}</p>
                    <p>Data da reserva: {{ active_rent.pickup.date_br }} - {{ active_rent.dropoff.date_br }}</p>
                    <p>Preço total: {{ active_rent.total() }}</p>
                    <p>Status: {{ active_rent.status_label }}</p>
                    <button type="button" class="btn-cancel-rent" data-rent-id="{{ active_rent.id }}">Cancelar</button>
                </div>
            {% endfor %}

        
        {% elif UserData_chosen == "3" %}
            {% for finished_rent in finished_rents %}
                <div class="Cont">
                    <div class="icon"><img src="" alt="Car" width="70px"></div>
                    <div class="PersonalData-Text">
                        <h3>Reserva Passada {{ loop.index }} - ID: {{ finished_rent.id }}</h3>
                        <p>Ver resumo da reserva</p>
                    </div>
                </div>
                <div class="Cont-Details">
                    <p>Carro escolhido: {{ finished_rent.vehicle.name() }}</p>
                    <p>Data da reserva: {{ finished_rent.pickup.date_br }} - {{ finished_rent.dropoff.date_br }}</p>
                    <p>Preço total: {{ finished_rent.total() }}</p>
                    <p>Status: {{ finished_rent.status_label }}</p>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>        
</div>
{% endblock %}