<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aloca e Debreia | {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nos.css') }}">


        <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
        <script src="{{ url_for('static', filename='js/buttonLogin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/VerifyCamps.js') }}"></script>
        

    {% endblock %}
</head>
<body>
    {% block header %}
    {% if current_user.is_authenticated %}
    <header>
        <div id="ContHeader">
            <div id="logo">
                <a href="{{ url_for('main.index') }}" style="text-decoration: none; color: black;">
                    <img src="" alt="CLICK & DRIVE">
                </a>
            </div>
            <div class="elementosHeader">
                <ul>
                    <li><i class="ri-map-pin-line"></i> MAPA DAS LOCADORAS</li>
                    <li><i class="ri-car-line"></i> LISTA DE CARROS</li>
                   <li><i class="ri-question-line"></i> AJUDA</li>
                    <div style="display: flex;">
                        <img src="https://images.icon-icons.com/3106/PNG/512/person_avatar_account_user_icon_191606.png" alt=""  width="35px" height="35px">    
                        <li class="login" id="entrar" style="margin-right: -20px; text-transform: uppercase;"><i class="ri-user-fill"></i><a href="{{ url_for('main.user') }}">{{ current_user.name }}</a>
                    </div>
                </ul>
            </div>
        </div>
    </header> <br>
    {% else %}
    <header>
        <div id="ContHeader">
            <div id="logo">
                <a href="{{ url_for('main.index') }}" style="text-decoration: none; color: black;">
                    <img src="" alt="CLICK & DRIVE">
                </a>
            </div>
            <div class="elementosHeader">
                <ul>
                    <li><i class="ri-map-pin-line"></i> MAPA DAS LOCADORAS</li>
                    <li><i class="ri-car-line"></i> LISTA DE CARROS</li>
                    <li><i class="ri-question-line"></i> AJUDA</li>
                    <div style="display: flex;">
                        <img src="https://images.icon-icons.com/3106/PNG/512/person_avatar_account_user_icon_191606.png" alt="icon"  width="35px" height="35px">    
                        <li class="login" id="entrar" style="margin-right: -20px;"><i class="ri-user-fill"></i><a href="{{ url_for('auth.login') }}">ENTRAR</a>|</li> <br>
                        <li><a href="{{ url_for('auth.register') }}" style="color: black; text-decoration: none;">CADASTRAR</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </header> <br>
    {% endif %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="asd" style="display: flex; margin-top: auto; flex-direction: column; " >
    <footer>
        <p> &copy; 2025 Click & Drive — Todos os direitos reservados.</p> 
        <div class="right-links">
        <p><a href="">CONTATO</a></p>
        <p><a href="{{ url_for('main.nos') }}">QUEM SOMOS?</a></p>
    </div>
    </footer>
    </div>
</body>
</html>